= simple_form_for(@round) do |f|
  = f.error_notification

  .form-inputs
    .large-6.medium-6.small-12.columns
      - what = @round.game_id || params[:game_id]
      = f.association :game, collection: Game.order(:starting), selected: what
    .large-2.medium-2.small-12.columns= f.input :order, collection: (0..9), autofocus: true
    .large-4.medium-4.small-12.columns= f.input :method_split

  .form-actions
    = f.button :submit
