%p#notice= notice

%p
  %b Game:
  = @round.game_id
%p
  %b Order:
  = @round.order
%p
  %b Method split:
  = @round.method_split

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
