%p#notice= notice

%p
  %b Round:
  = @group.round_id
%p
  %b Activity:
  = @group.activity_id
%p
  %b Wc:
  = @group.wild_card
%p
  %b Wc interpretation:
  = @group.wc_interpretation
%p
  %b Wc curation:
  = @group.wc_curation

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
