= simple_form_for(@user) do |f|
  = f.error_notification

  .form-inputs
    .large-6.medium-6.small-12.columns= f.input :name, autofocus: true
    - if host_or_admin?
      .large-6.medium-6.small-12.columns
        = f.input :role, collection: User.roles.keys, selected: User.roles.keys[@user.role.to_i]
    .large-6.medium-6.small-12.columns= f.input :city
    .large-6.medium-6.small-12.columns= f.input :area, collection: AREAS
    .large-6.medium-6.small-12.columns= f.input :email
    .large-6.medium-6.small-12.columns= f.input :facebook_id

  .clear-both
  %hr
  .form-actions
    = f.button :submit, 'Save'
