
%h3
  = image_tag @user.gravatar(36)
  = link_to @user.name if @user.name

%h5= "#{@user.groups.count} Groups"
- @user.groups.each do |group|
  = group.starting.strftime('%b-%d')
  = ' — '
  = group.activity.name
  = ' with '
  = group.participants.map(&:first_name).join(', ')
  %br
%hr

- unless @user.games.empty?
  %h5= pluralize(@user.games.size, 'C-Game')
  %table#past-games.compact
    %thead
      %th.text-center Date
      %th Location
      %th.text-center Hosting
      %th.text-center RSVPS
      %th.text-center
      %th Actions
    = render @user.games.order('starting DESC')
%hr

= form_for(@user) do |f|
  .large-1.medium-2.small-6.columns= link_to 'Edit', edit_user_path(@user), class: 'button-xs'
  .large-1.medium-2.small-6.columns= link_to 'Delete', user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs'
  .large-2.medium-2.small-6.columns= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]})
  .large-2.medium-2.small-6.columns= f.submit 'Change Role', class: 'button-xs'
  .large-6.medium-4.small-12.columns &nbsp;

%hr
