%p#notice= notice

%p
  %b Url:
  = @video.url
%p
  %b Abstract:
  = @video.abstract
%p
  %b Transcript:
  = @video.transcript
%p
  %b Minutes:
  = @video.minutes

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
