%h1 Listing Containers

%table
  %thead
    %tr
      %th Name
      %th Starting
      %th Weeks
      %th Location
      %th Host
      %th Cohost
      %th
      %th
      %th

  %tbody
    - @containers.each do |container|
      %tr
        %td= link_to container.name, container
        %td= container.starting.strftime('%b-%d %H:%M')
        %td= container.weeks
        %td= container.location.name
        %td= container.host.name
        %td= container.cohost.try(:name)
        %td= link_to 'Show', container
        %td= link_to 'Edit', edit_container_path(container)
        %td= link_to 'Destroy', container, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Container', new_container_path
