%h1 Listing containers

%table
  %thead
    %tr
      %th Name
      %th Starting
      %th Weeks
      %th Location
      %th Host
      %th Cohost
      %th
      %th
      %th

  %tbody
    - @containers.each do |container|
      %tr
        %td= container.name
        %td= container.starting
        %td= container.weeks
        %td= container.location_id
        %td= container.host_id
        %td= container.cohost_id
        %td= link_to 'Show', container
        %td= link_to 'Edit', edit_container_path(container)
        %td= link_to 'Destroy', container, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Container', new_container_path
