= simple_form_for(@game) do |f|
  = f.error_notification

  .form-inputs
    .large-4.medium-4.small-12.columns= f.association :host, collection: User.host_or_admin
    .large-4.medium-4.small-12.columns= f.association :location
    .large-4.medium-4.small-12.columns= f.input :facebook_event_url
    .large-6.medium-6.small-12.columns
      = f.input :starting, minute_step: 30
      = f.input :ending, minute_step: 30
      = f.input :review, input_html: { rows: 10}
    .large-6.medium-6.small-6.columns
      %h4 Build Activities Menu
      = f.association :activities, as: :check_boxes, collection: Activity.non_wild_card.order(:name), label: false
    %hr

  .form-actions
    = f.button :submit, 'Save'
