= simple_form_for(@game) do |f|
  = f.error_notification

  .form-inputs
    #preparation
      %h2 Preparation
      .large-4.medium-4.small-12.columns= f.association :host, collection: User.host_or_admin
      .large-4.medium-4.small-12.columns= f.association :cohost, collection: User.host_or_admin
      .large-4.medium-4.small-12.columns= f.association :location
      .large-4.medium-4.small-12.columns= f.input :name
      .large-4.medium-4.small-12.columns= f.input :status, collection: Game.statuses.keys()
      .large-4.medium-4.small-12.columns= f.input :facebook_event_url
      .large-4.medium-4.small-12.columns= f.input :decoration, collection: 'a'..'i', selected: @game.decoration || ('a'..'i').to_a.sample
      .large-4.medium-4.small-12.columns= f.input :color
      .large-4.medium-4.small-12.columns
        %h4 Build Menu
        .form-checkboxes= f.association :activities, as: :check_boxes, collection: Activity.main.order(:name), label: false
      .large-8.medium-8.small-12.columns
        = f.input :starting, minute_step: 30
        = f.input :ending, minute_step: 30
        = f.button :submit, 'Save'
      %hr
    #review
      %h2 Review
      %h4
        Rounds&nbsp;
        - if @game.persisted?
          %sup= link_to image_tag('plus.png', size: 12), new_round_path(game_id: @game.id)
      = render @game.rounds
      %hr
      .large-6.medium-12.small-12.columns
        %h4
          = "#{@game.users.size} Attendees "
          %sup= link_to image_tag('plus.png', size: 12), new_user_path
        .form-checkboxes.text-columns-3
          = f.association :users, as: :check_boxes, collection: User.order(:name), label: false
      .large-6.medium-12.small-12.columns
        %h4 Host Recap
        = f.input :review, input_html: { rows: 12}, label: false

      %hr
  .form-actions
    = f.button :submit, 'Save'
