%tr
  %td.text-center
    %div= link_to game.starting.strftime("%_m/%_d"), game
    %div= link_to game.starting.strftime("%a"), game
  %td= link_to game.location.try(:name), game.location
  %td.text-center= game.hosts
  %td.text-center= link_to game.users.size, edit_game_path(game)
  %td.text-center
    = game.rounds.map {|round| render 'rounds/tiny', round: round}.join('—').html_safe
  %td
    %span= link_to 'RSVP', game.facebook_event_url
    - if host_or_admin?
      .left-5px.admin-only= link_to image_tag('settings.png', size: 12), edit_game_path(game)
      .left-5px.admin-only= link_to image_tag('x.png', size: 12), game, method: :delete, data: CONF
