%p
  C-Game awaits you
  %br
  At this
  = link_to 'date', '#', title: @game.starting.strftime('%b-%d, %H:%M')
  and
  = link_to 'location', @game.location, title: @game.location.name
  %br
  = link_to 'RSVP here', @game.facebook_event_url

#left-side
  .upper-left= image_tag('upper.png')
  .content
    .cgame-est= image_tag('cgame_est.png')
    .values
      - VALUES.each do |value|
        .row= value
  .lower-left= image_tag('lower.png')

#right-side
  .upper-right
  #right-side-content
    .main-courses
    %ul.activities= render @game.activities.order(:id)
  .lower-right

.extra