- if host_or_admin?
  %p.admin-only
    - @game.users.order(:name).each do |user|
      = render 'users/gravatar', user: user
    /
    / map{ |user| link_to user.facebook_id, user.fac }.join(', ').html_safe
      
- if @game.review.blank?
  .row
    .large-4.medium-4.small-12.columns
      C-Game awaits you
      %br
      At this
      = link_to 'date', '#', title: default_time(@game.starting)
      &nbsp;and&nbsp;
      = link_to 'location', @game.location, title: @game.location_name
      %br
      = link_to 'RSVP here', @game.facebook_event_url
    .large-8.medium-8.small-12.columns
      = default_time(@game.starting)
      %br
      = link_to @game.location.full, @game.location
      %br
      = link_to @game.facebook_event_url, @game.facebook_event_url
- else
  %p
    %h4= "Remembering #{@game.starting.strftime('%b-%d')} at #{@game.location_name}"
    = simpler_format(@game.review)

- activities = @game.activities.order(:name)
= render 'activities/menu', game: @game, activities: activities
.extra