%li.activity
  %h4= link_to "#{activity.id}. #{activity.name}", activity
  = link_to simpler_format(activity.haiku), activity
  - if host_or_admin?
    %sup
      &nbsp;
      = link_to image_tag('settings.png', size: 8), edit_activity_path(activity)
