#menu
  #left-side
    .upper-left= image_tag('upper.png')
    .content
      .cgame-est= image_tag('cgame_est.png')
      .values
        - VALUES.each do |value|
          .row= value
    .lower-left= image_tag('lower.png')

  #right-side
    .upper-right
    #right-side-content
      .main-courses
        - if host_or_admin? && game
          = link_to image_tag('settings.png', size: 20), edit_game_path(game)
      - activities.order(:name).in_groups_of(3, false).each do |group|
        .large-6.medium-6.small-12.columns= render group
    .lower-right
