- dec = game.try(:decoration_choice) || Game.rand_decoration
#menu
  #left-side
    .upper-left.text-center= image_tag("dec-#{dec}-upper.png", width: 200)
    .content
      .cgame-est= link_to image_tag('cgame_est.png'), welcome_path
      .values
        - VALUES.each do |k, v|
          .row= link_to k, values_path, title: v
    .lower-left.text-center= image_tag("dec-#{dec}-lower.png", width: 200)

  #right-side
    .upper-right.text-center
      - 6.times do
        .tiny-dec= image_tag("dec-#{dec}-upper-tiny.png")
    #right-side-content
      .main-courses
        - if host_or_admin? && game
          = link_to image_tag('settings.png', size: 20), edit_game_path(game)
      - cols = [2, (activities.count / 3.0).ceil].max
      .activities{style: "-webkit-column-count: #{cols}, -moz-column-count: #{cols}; column-count: #{cols};"}
        = render activities
    .lower-right.text-center
      - 6.times do
        .tiny-dec= image_tag("dec-#{dec}-lower-tiny.png")
