- if host_or_admin?

  %h2 Activities

  %table
    %thead
      %tr
        %th Name
        %th.text-center Main?
        %th.text-center Active?
        %th Haiku
        %th
        %th

    %tbody
      - @activities.each do |activity|
        %tr
          %td= link_to activity.name, activity
          %td.text-center= show_bool(activity.main?)
          %td.text-center= show_bool(activity.active?)
          %td= link_to simpler_format(activity.haiku), activity
          %td.admin-only= link_to 'Edit', edit_activity_path(activity)
          %td.admin-only= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %h2 Wild Card Activities

    %table
      %thead
        %tr
          %th Name
          %th.text-center Weight
          %th.text-center Active?
          %th Haiku
          %th
          %th

      %tbody
        - @wild_cards.each do |activity|
          %tr
            %td= link_to admin? ? activity.name : "WC ##{activity.id}", activity
            %td.text-center= activity.wild_card_weight
            %td.text-center= show_bool(activity.active?)
            %td= link_to simpler_format(activity.haiku), activity
            %td.admin-only= link_to 'Edit', edit_activity_path(activity)
            %td.admin-only= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

  
- else

  #left-side
    .upper-left= image_tag('upper.png')
    .content
      .cgame-est= image_tag('cgame_est.png')
      .values
        - VALUES.each do |value|
          .row= value
    .lower-left= image_tag('lower.png')

  #right-side
    .upper-right
    #right-side-content
      .main-courses
      %ul.activities= render @activities.order(:id)
    .lower-right

  .extra


