%h1 Activities

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Wild card weight
      %th Image url
      %th
      %th
      %th

  %tbody
    - @activities.each do |activity|
      %tr
        %td= activity.name
        %td= activity.description
        %td= activity.wild_card_weight
        %td= activity.image_url
        %td= link_to 'Show', activity
        %td= link_to 'Edit', edit_activity_path(activity)
        %td= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity', new_activity_path
