= render 'nav', wild: false

%table#activities-table.compact
  %thead
    %tr
      %th Name
      %th Haiku
      %th Plays
      %th.text-center Main?
      %th.text-center Basic?
      %th.text-center Active?
      %th.text-center Added
      - if host_or_admin?
        %th.admin-only Actions

  %tbody
    - @activities.each do |activity|
      %tr
        %td= link_to activity.name, activity
        %td= link_to simpler_format(activity.haiku), activity
        %td= activity.plays
        %td.text-center= link_to show_bool(activity.main?), edit_activity_path(activity)
        %td.text-center= link_to show_bool(activity.basic?), edit_activity_path(activity)
        %td.text-center= link_to show_bool(activity.active?), edit_activity_path(activity)
        %td.text-center= activity.created_at.strftime('%b-%d')
        %td.admin-only
          - if host_or_admin?
            %span.action= link_to image_tag('settings.png', size: 20), edit_activity_path(activity)
            %span &nbsp;&nbsp;
            - confirm = { confirm: 'Are you sure?' }
            %span.action= link_to image_tag('x.png', size: 20), activity, method: :delete, data: confirm
