.large-6.medium-12.small-12.columns
  %h2
    = @activity.name
    - if host_or_admin?
      %sup= link_to image_tag('settings.png', size: 12), edit_activity_path(@activity)
    

  %p
    = image_tag(@activity.image_url) if @activity.image_url
  %h3.activity-description= simpler_format(@activity.haiku)
  %p
  %p
  %p
  %p

- unless @activity.description.blank?
  .large-6.medium-12.small-12.columns
    %h4 Description
    .activity-description= simpler_format(@activity.description)
    /   %b Wild card weight:
    /   = @activity.wild_card_weight
    / %p
    /   %b Image url:
    /   = @activity.image_url
.padding