%h1
  %span= @activity.name
  %span.admin-only= link_to '(Edit)', edit_activity_path(@activity)


%p
  = image_tag(@activity.image_url) if @activity.image_url
%h3.activity-description= simpler_format(@activity.haiku)

%hr
.activity-description= simpler_format(@activity.description)
/   %b Wild card weight:
/   = @activity.wild_card_weight
/ %p
/   %b Image url:
/   = @activity.image_url
.padding