%h2
  %span= @activity.name
  %span.admin-only= link_to '(Edit)', edit_activity_path(@activity)


%p
  = image_tag(@activity.image_url) if @activity.image_url
/ %h4= @activity.description.gsub(/\n/, '<br>').html_safe, activity
%h4.activity-description= link_to @activity.haiku.gsub(/\n/, '<br>').html_safe, @activity

%hr
%h4.activity-description= link_to simpler_format(@activity.description), @activity

/   %b Wild card weight:
/   = @activity.wild_card_weight
/ %p
/   %b Image url:
/   = @activity.image_url
.padding