%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Description:
  = @activity.description
%p
  %b Wild card weight:
  = @activity.wild_card_weight
%p
  %b Image url:
  = @activity.image_url

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
