%h2
  Activities
  - if host_or_admin?
    %sup= link_to image_tag('plus.png', size: 12), new_activity_path

%h5
  %span.action= link_to 'Main Courses', activities_path
  %span &nbsp&nbsp|&nbsp&nbsp
  %span.action= link_to 'Wild Cards', wildcards_path

%table#activities-table.compact
  %thead
    %tr
      %th Name
      %th.text-center Weight
      %th.text-center Active?
      %th Haiku
      %th Added
      %th
      %th

  %tbody
    - @activities.each do |activity|
      %tr
        - if admin?
          %td= link_to activity.name, activity
        - else
          %td= "WC ##{activity.id}"
        %td.text-center= activity.wild_card_weight
        %td.text-center= show_bool(activity.active?)
        %td
          = link_to simpler_format(activity.haiku), activity if admin?
        %td.text-center= activity.created_at.strftime('%a, %b-%d')
        %td.admin-only= link_to 'Edit', edit_activity_path(activity)
        %td.admin-only= link_to 'Destroy', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }
