%li= link_to 'C-Games', games_path
- if host_or_admin?
  %li= link_to 'Host C-Game', new_game_path
  %li= link_to 'Create Activity', new_activity_path
  %li= link_to 'Random WC', wildcard_path, data: { confirm: 'Are you sure?  Promise this is in service of an actual C-Game and you\'re not just peaking?' }
  %li= link_to 'Users', users_path
= render '/layouts/nav_links_for_auth'
