%li= link_to 'Games Menu & Core Values', menu_path
%li= link_to 'About Us', about_path
- if host_or_admin?
  %li= link_to 'Activities', activities_path
  %li= link_to image_tag('plus.png', size: 12), new_activity_path
  %li= link_to 'Games', games_path
  %li= link_to image_tag('plus.png', size: 12), new_game_path
  %li= link_to 'Wild Card', wildcard_path
  %li= link_to 'Users', users_path
= render '/layouts/nav_links_for_auth'
